<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sk.temp.sys.mapper.SysResourceMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sk.temp.sys.pojo.SysResource">
        <id column="res_id" property="resId" />
        <result column="res_name" property="resName" />
        <result column="res_url" property="resUrl" />
        <result column="route_path" property="routePath" />
        <result column="route_name" property="routeName" />
        <result column="route_component" property="routeComponent" />
        <result column="parent_id" property="parentId" />
        <result column="res_type" property="resType" />
        <result column="res_level" property="resLevel" />
        <result column="res_sort" property="resSort" />
        <result column="descri" property="descri" />
        <result column="opt_id" property="optId" />
        <result column="left_icon" property="leftIcon" />
        <result column="expand1" property="expand1" />
        <result column="expand2" property="expand2" />
        <result column="expand3" property="expand3" />
        <result column="record_status" property="recordStatus" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    sr.res_id, sr.res_name, sr.res_url, sr.route_path, sr.route_name, sr.route_component, sr.parent_id, sr.res_type, sr.res_level, sr.res_sort, sr.descri, sr.opt_id, sr.left_icon,
    sr.expand1, sr.expand2, sr.expand3, sr.record_status, sr.update_time, sr.create_time
    </sql>


    <!--以下是自定义的-->

    <!-- 表与实体映射 -->
    <resultMap id="ResultMapCustom" type="cn.sk.temp.sys.pojo.SysResource" extends="BaseResultMap">
        <result property="userName" column="user_name"/>
    </resultMap>

    <!-- 查询条件的sql片段 -->

    <sql id="base_query_condition">
        <!--<if test="null != greaterThanPLevel">-->
        <!--AND p_level >= #{greaterThanPLevel,jdbcType=INTEGER}-->
        <!--</if>-->
        <if test="null != cdtCustom">
            <!-- ${}拼接字符串，有sql注入的维修，少用-->
            <!--<if test="null != SysPermisCustom.userName and '' != SysPermisCustom.userName">-->
            <!--AND user_name LIKE CONCAT('%',CONCAT(#{SysPermisCustom.userName},'%'))-->
            <!--</if>-->
            <if test="null != cdtCustom.parentId and '' != cdtCustom.parentId">
                AND sr.parent_id = #{cdtCustom.parentId,jdbcType=INTEGER}
            </if>
            <!--<if test="null != sysPermisCustom.pLevel and '' != sysPermisCustom.pLevel">-->
            <!--AND p_level = #{sysPermisCustom.pLevel,jdbcType=INTEGER}-->
            <!--</if>-->
            <if test="null != cdtCustom.resName and '' != cdtCustom.resName">
                AND sr.res_name LIKE CONCAT('%',CONCAT(#{cdtCustom.resName,jdbcType=VARCHAR},'%'))
            </if>
            <!-- ${}拼接字符串，有sql注入的危险，少用-->
            <if test="isNoLike.routePath">
                <if test="null != cdtCustom.routePath and '' != cdtCustom.routePath">
                    AND sr.route_path = #{cdtCustom.routePath,jdbcType=VARCHAR}
                </if>
            </if>
            <if test="!isNoLike.routePath">
                <if test="null != cdtCustom.routePath and '' != cdtCustom.routePath">
                    AND sr.route_path LIKE CONCAT('%',CONCAT(#{cdtCustom.routePath,jdbcType=VARCHAR},'%'))
                </if>
            </if>
            <if test="null != cdtCustom.recordStatus and '' != cdtCustom.recordStatus">
                AND sr.record_status = #{recordStatus,jdbcType=VARCHAR}
            </if>

        </if>
    </sql>

    <!--根据条件统计条数-->
    <select id="selectCountByQueryVo" parameterType="cn.sk.temp.sys.pojo.SysResourceQueryVo" resultType="long">
        select count(1) from tb_sys_resource sr
        <where>
            <!-- 引用sql片段 的id,如果refid指定的id不在本mapper文件中,要前边加namespace -->
            <include refid="base_query_condition"></include>
            AND record_status != '00'
        </where>
    </select>

    <!--根据条件查询-->
    <select id="selectListByQueryVo" parameterType="cn.sk.temp.sys.pojo.SysResourceQueryVo" resultMap="ResultMapCustom">
        select
        <include refid="Base_Column_List"/>,su.user_name,sr2.res_name parentName
        from tb_sys_resource sr left join tb_sys_user su
        on sr.opt_id = su.user_id
        left join tb_sys_resource sr2
        on sr.parent_id = sr2.res_id
        <where>
            <!-- 引用sql片段 的id,如果refid指定的id不在本mapper文件中,要前边加namespace -->
            <include refid="base_query_condition"></include>
            AND sr.record_status != '00'
        </where>
        <include refid="cn.sk.temp.base.mapper.IBaseMapper.base_order"/>
        <include refid="cn.sk.temp.base.mapper.IBaseMapper.base_query_page"></include>
    </select>

    <!--根据角色id查找资源-->
    <select id="selectListByRoleId" parameterType="map" resultType="map">
        select sr.res_id resId, sr.res_name resName, sr.res_url resUrl, sr.route_path routePath,sr.route_name routeName,sr.route_component routeComponent,sr.parent_id parentId, sr.res_type
        resType,sr.res_level resLevel, sr.res_sort resSort, sr.left_icon leftIcon from tb_sys_resource sr
        LEFT JOIN tb_sys_role_resource rr
        on rr.res_id = sr.res_id
        <where>
            and role_id IN
            <foreach collection="params.roleIds" open="(" close=")" separator="," item="roleId">
                #{roleId,jdbcType=INTEGER}
            </foreach>
            and sr.record_status = #{params.recordStatus,jdbcType=CHAR}
            <if test="null != params.resType and '' != params.resType">
                and sr.res_type = #{params.resType,jdbcType=CHAR}
            </if>
        </where>
        <if test="null != params.orderBy and '' != params.orderBy">
            order by ${params.orderBy}
        </if>
    </select>


    <!--根据主键软删除-->
    <update id="deleteInIds">
        update tb_sys_resource
        set record_status = #{recordStatus,jdbcType=VARCHAR}
        <where>
            res_id IN
            <foreach collection="pks" open="(" close=")" separator="," item="pk">
                #{pk}
            </foreach>
        </where>
    </update>

    <!--根据主键硬删除-->
    <delete id="realDeleteInIds">
        delete from tb_sys_resource
        <where>
            res_id IN
            <foreach collection="pks" open="(" close=")" separator="," item="pk">
                #{pk}
            </foreach>
        </where>
    </delete>

</mapper>