<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sk.temp.sys.mapper.SysSqlConfMapper">
  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="cn.sk.temp.sys.pojo.SysSqlConf">
    <id column="sc_id" property="scId" />
    <result column="sc_code" property="scCode" />
    <result column="sc_name" property="scName" />
    <result column="sc_statement" property="scStatement" />
    <result column="sc_type" property="scType" />
    <result column="descri" property="descri" />
    <result column="opt_id" property="optId" />
    <result column="field1" property="field1" />
    <result column="field2" property="field2" />
    <result column="field3" property="field3" />
    <result column="field4" property="field4" />
    <result column="record_status" property="recordStatus" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    sc_id, sc_code, sc_name, sc_statement, sc_type, descri, opt_id, field1, field2, field3, field4,
    record_status, update_time, create_time
  </sql>

  <!--以下是自定义的-->

  <!-- 表与实体映射 -->
  <resultMap id="ResultMapCustom" type="cn.sk.temp.sys.pojo.SysSqlConf" extends="BaseResultMap">

  </resultMap>

  <!-- 查询条件的sql片段 -->

  <sql id="base_query_condition">
    <if test="null != cdtCustom">
      <!-- ${}拼接字符串，有sql注入的维修，少用-->
      <if test="isNoLike.scCode">
        <if test="null != cdtCustom.scCode and '' != cdtCustom.scCode">
          AND sc_code = #{cdtCustom.scCode,jdbcType=VARCHAR}
        </if>
      </if>
      <if test="!isNoLike.scCode">
        <if test="null != cdtCustom.scCode and '' != cdtCustom.scCode">
          AND sc_code LIKE CONCAT('%',CONCAT(#{cdtCustom.scCode,jdbcType=VARCHAR},'%'))
        </if>
      </if>
      <if test="null != cdtCustom.scName and '' != cdtCustom.scName">
        AND sc_name LIKE CONCAT('%',CONCAT(#{cdtCustom.scName,jdbcType=VARCHAR},'%'))
      </if>
      <!--<if test="null != sysDictCustom.dictCode and '' != sysDictCustom.dictCode">-->
        <!--AND dict_code = #{sysDictCustom.dictCode,jdbcType=VARCHAR}-->
      <!--</if>-->
      <if test="null != cdtCustom.recordStatus and '' != cdtCustom.recordStatus">
        AND record_status = #{cdtCustom.recordStatus,jdbcType=VARCHAR}
      </if>
    </if>
  </sql>

  <!--根据条件统计条数-->
  <select id="selectCountByQueryVo" parameterType="cn.sk.temp.sys.pojo.SysSqlConfQueryVo" resultType="long">
    select count(1) from tb_sys_sql_conf
    <where>
      <!-- 引用sql片段 的id,如果refid指定的id不在本mapper文件中,要前边加namespace -->
      <include refid="base_query_condition"></include>
      AND record_status != '00'
    </where>
  </select>

  <!--根据条件查询-->
  <select id="selectListByQueryVo" parameterType="cn.sk.temp.sys.pojo.SysSqlConfQueryVo" resultMap="ResultMapCustom">
    select
    <include refid="Base_Column_List" />
    from tb_sys_sql_conf
    <where>
      <!-- 引用sql片段 的id,如果refid指定的id不在本mapper文件中,要前边加namespace -->
      <include refid="base_query_condition"></include>
      AND record_status != '00'
    </where>
    <include refid="cn.sk.temp.base.mapper.IBaseMapper.base_order"/>
    <include refid="cn.sk.temp.base.mapper.IBaseMapper.base_query_page"></include>
  </select>

  <!--根据主键软删除-->
  <update id="deleteInIds">
    update tb_sys_sql_conf
    set record_status = #{recordStatus,jdbcType=VARCHAR}
    <where>
      sc_id IN
      <foreach collection="pks" open="(" close=")" separator="," item="pk">
        #{pk}
      </foreach>
    </where>
  </update>

  <!--根据主键硬删除-->
  <delete id="realDeleteInIds">
    delete from tb_sys_sql_conf
    <where>
      sc_id IN
      <foreach collection="pks" open="(" close=")" separator="," item="pk">
        #{pk}
      </foreach>
    </where>
  </delete>

</mapper>