<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sk.api.sys.mapper.SysRoleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sk.api.sys.pojo.SysRole">
        <id column="role_id" property="roleId" />
        <result column="role_flag" property="roleFlag" />
        <result column="role_name" property="roleName" />
        <result column="descri" property="descri" />
        <result column="opt_id" property="optId" />
        <result column="record_status" property="recordStatus" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    role_id, role_flag, role_name, sr.descri, opt_id, sr.record_status, sr.update_time, sr.create_time
  </sql>


    <!-- 表与实体映射 -->
    <resultMap id="ResultMapCustom" type="cn.sk.api.sys.pojo.SysRole" extends="BaseResultMap">
        <result property="userName" column="user_name" />
    </resultMap>

    <!-- 查询条件的sql片段 -->
    <sql id="base_query_condition">
        <if test="null != cdtCustom">
            <!-- ${}拼接字符串，有sql注入的维修，少用-->
            <if test="null != cdtCustom.roleFlag and '' != cdtCustom.roleFlag">
                <if test="isNoLike.roleFlag">
                    AND role_flag = #{cdtCustom.roleFlag,jdbcType=VARCHAR}
                </if>
                <if test="!isNoLike.roleFlag">
                    AND role_flag LIKE CONCAT('%',CONCAT(#{cdtCustom.roleFlag,jdbcType=VARCHAR},'%'))
                </if>
            </if>
            <if test="null != cdtCustom.roleName and '' != cdtCustom.roleName">
                AND role_name LIKE CONCAT('%',CONCAT(#{cdtCustom.roleName,jdbcType=VARCHAR},'%'))
            </if>

        </if>
    </sql>

    <!--根据条件统计条数-->
    <select id="selectCountByQueryVo" parameterType="cn.sk.api.sys.pojo.SysRoleQueryVo" resultType="long">
        select count(1) from tb_sys_role
        <where>
            <!-- 引用sql片段 的id,如果refid指定的id不在本mapper文件中,要前边加namespace -->
            <include refid="base_query_condition"></include>
            AND record_status != '00'
        </where>
    </select>

    <!--根据条件查询-->
    <select id="selectListByQueryVo" parameterType="cn.sk.api.sys.pojo.SysRoleQueryVo" resultMap="ResultMapCustom">
        select
        <include refid="Base_Column_List"/>,su.user_name
        from tb_sys_role sr LEFT JOIN tb_sys_user su
        on sr.opt_id = su.user_id
        <where>
            <!-- 引用sql片段 的id,如果refid指定的id不在本mapper文件中,要前边加namespace -->
            <include refid="base_query_condition"></include>
            AND sr.record_status != '00'
        </where>
        <include refid="cn.sk.api.base.mapper.IBaseMapper.base_order"/>
        <include refid="cn.sk.api.base.mapper.IBaseMapper.base_query_page"></include>
    </select>

    <!--根据用户id查找角色-->
    <select id="selectListByUserId" parameterType="map" resultType="map">
      select sr.role_id roleId,sr.role_flag roleFlag,sr.role_name roleName  from tb_sys_user_role ur
        LEFT JOIN tb_sys_role sr
          on ur.role_id = sr.role_id
          where ur.user_id =  #{params.userId,jdbcType=INTEGER} and sr.record_status = #{params.recordStatus,jdbcType=CHAR}
    </select>


    <!--根据主键软删除-->
    <update id="deleteInIds">
        update tb_sys_role
        set record_status = #{recordStatus,jdbcType=VARCHAR}
        <where>
            role_id IN
            <foreach collection="pks" open="(" close=")" separator="," item="pk">
                #{pk}
            </foreach>
        </where>
    </update>

    <!--根据主键硬删除-->
    <delete id="realDeleteInIds">
        delete from tb_sys_role
        <where>
            role_id IN
            <foreach collection="pks" open="(" close=")" separator="," item="pk">
                #{pk}
            </foreach>
        </where>
    </delete>

</mapper>